In [9]:
import pandas as pd
import numpy as np
import datetime
from ggplot import *

In [10]:
# Read in our data  -> we know from checking out the data that cols 0 and 1 are datestamps
# so use the parse_dates function from pandas to try and parse these. In this case
# it works, and converts them to pandas.tslib.Timestamp.
# Also, we want to make the start_time the index, skip the header row since we're giving
# the cols our own name

df_hour = pd.read_csv('health_data_hour.csv', parse_dates=[0,1], names=['start_time', 'steps'], usecols=[0,2], skiprows=1, index_col = 0)

# ensure the steps col are ints -- weirdness going on with this one
df_hour.steps = df_hour.steps.apply(lambda x: int(float(x)))

In [11]:
df_hour.head()

                     steps
start_time
2016-06-19 11:56:00     24
2016-06-19 14:26:00     14
2016-06-19 17:46:00      9
2016-06-19 18:32:00      8
2016-06-19 18:41:00      8

In [12]:
# Check the types
print type(df_hour.index)
print type(df_hour.steps[1])

<class 'pandas.tseries.index.DatetimeIndex'>
<type 'numpy.int64'>

In [13]:
df_daily = pd.DataFrame()
df_daily['step_count'] = df_hour.steps.resample('D').sum()

In [14]:
def weekendBool(day):
    if day not in ['Saturday', 'Sunday']:
        return False
    else:
        return True
    
df_daily['weekday'] = df_daily.index.weekday
df_daily['weekday_name'] = df_daily.index.weekday_name
df_daily['weekend'] = df_daily.weekday_name.apply(weekendBool) 

df_daily.head()

            step_count  weekday weekday_name weekend
start_time
2016-06-19         959        6       Sunday    True
2016-06-20        7947        0       Monday   False
2016-06-21        7451        1      Tuesday   False
2016-06-22        8477        2    Wednesday   False
2016-06-23        7419        3     Thursday   False

In [15]:
weekend_grouped = df_daily.groupby('weekend')
weekend_grouped.describe()

                 step_count    weekday
weekend
False   count     70.000000  70.000000
        mean    9864.628571   2.000000
        std     4039.553219   1.424425
        min     3740.000000   0.000000
        25%     7432.250000   1.000000
        50%     8340.500000   2.000000
        75%    10998.000000   3.000000
        max    26989.000000   4.000000
True    count     28.000000  28.000000
        mean    7755.785714   5.500000
        std     4810.491130   0.509175
        min      271.000000   5.000000
        25%     5458.750000   5.000000
        50%     7462.000000   5.500000
        75%    10139.250000   6.000000
        max    18919.000000   6.000000